<% provide(:title, "Log in") %>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>
        <h1>Log in</h1>

        <%= f.label :username %>
        <%= f.email_field :username, class: 'form-control' %>

        <br>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <br>

        <%=f.radio_button :status, "Examinee", checked: true %>
        <%=f.label :status_examinee, "Examinee"%> &nbsp
        <%=f.radio_button :status, "Examiner"%>
        <%=f.label :status_examiner, "Examiner"%>

        <br> <br>

        <%= f.submit "Log in", class: "btn btn-primary" %> &nbsp
        <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>