<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <%= @user.name %> <br>
        <em>
          <small><%= session[:status] %> </small>
        </em>
      </h1>


      <%= label_tag "ID: " %>
      <%=@user[:id]%>
      <br>
      <%= label_tag "Created at: " %>
      <%=@user[:created_at]%>
      <br>
      <%= label_tag "Updated at: " %>
      <%=@user[:updated_at]%>
      <br>
      <%= label_tag "Email: " %>
      <%=@user[:email]%>

      <h2>
        Exams
        <small><%= link_to "Add", new_examiner_exam_path(@user.username) %></small>
      </h2>

      <table class = "table">
        <thead>
        <tr>
          <th>Subject</th>
          <th>Operations</th>
        </tr>
        </thead>

        <tbody>
        <% @exams.each do |exam| %>
            <tr>
              <td><%= exam[:subject] %></td>
              <td>
                <%= link_to "View", examiner_exam_path(@user.username, exam.id) %>
                <%= link_to "Delete", examiner_exam_path(@user.username, exam.id), method: :delete %>
              </td>
            </tr>
        <% end %>
        </tbody>

      </table>
      <br>
    </div>
  </div>
</div>
