<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1> <%=@exam[:name] %> </h1>
      <%= label_tag "Duration(min) : " %>
      <%=@exam[:duration]%>
      <br>
      <%= label_tag "Start at :" %>
      <%= @exam[:begin_time]%>
      <br>
      <%= label_tag "Total score :" %>
      <%= @exam[:total_score]%>
      <br>
      <%= label_tag "Problem number :" %>
      <%= @exam[:problem_number]%>
      <br>
      <%= link_to "Back", examiner_path(params[:examiner_username]) %>
      <%= link_to "Edit" %> <br>
      <h2>
        Questions
        <small><%= link_to 'add',
                           new_examiner_exam_question_path(params[:examiner_username], params[:id])
        %></small>
      </h2>

      <table class="table">
        <thead>
        <tr>
          <th>Question Name</th>
          <th>Score</th>
          <th>Operations</th>
        </tr>
        </thead>

        <tbody>
        <% if @questions %>
            <% @questions.each do |question| %>
                <tr>
                  <td><%= question[:name] %> </td>
                  <td><%= question[:score] %> </td>
                  <td>
                    <%= link_to "Remove",
                                examiner_exam_question_path(params[:examiner_username], @exam.id, question.id),
                                method: :delete%>
                    <%= link_to "View",
                                examiner_exam_question_path(params[:examiner_username], @exam.id, question.id)
                                %>
                  </td>
                </tr>
            <% end %>
        <% end%>
        </tbody>
      </table>

      <h2>
        Examinees
        <small><%= link_to 'add',
                           new_examiner_exam_result_url(params[:examiner_username],params[:id])%></small>
      </h2>

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
          <th>Operations</th>
        </tr>
        </thead>

        <tbody>
        <% if @exam.examinees %>
            <% @exam.examinees.each do |examinee| %>
                <tr>
                  <td><%= examinee[:name] %> </td>
                  <td><%= examinee[:score] %> </td>
                  <td>
                    <%= link_to "Remove",
                                examiner_exam_result_path(examiner_username: params[:examiner_username],
                                                          exam_id: @exam.id,
                                                          id: examinee.results.all.find_by_exam_id(@exam.id).id),
                                method: :delete
                    %>
                    <%= link_to "Code" %>
                  </td>
                </tr>
            <% end %>
        <% end%>
        </tbody>
      </table>

    </div>
  </div>
</div>
