<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1> <%=@exam[:name] %> </h1>
      <%= label_tag "Duration(min) : " %>
      <%=@exam[:duration]%>
      <br>
      <%= label_tag "Start at :" %>
      <%= @exam[:begin_time]%>
      <br>
      <%= label_tag "Total score :" %>
      <%= @exam[:total_score]%>
      <br>
      <%= label_tag "Problem number :" %>
      <%= @exam[:problem_number]%>
      <br>
      <h2>
        Questions
        <small><%= link_to 'add',
                           new_examiner_exam_question_path(params[:examiner_username], params[:id])
        %></small>
      </h2>

      <table class="table">
        <thead>
        <tr>
          <th>Question Name</th>
          <th>Score</th>
          <th>Operations</th>
        </tr>
        </thead>

        <tbody>
        <% if @questions %>
            <% @questions.each do |question| %>
                <tr>
                  <td><%= question[:name] %> </td>
                  <td><%= question[:score] %> </td>
                  <td>
                    <%= link_to "Remove", examiner_exam_question_path(params[:examiner_username], @exam.id, question.id),
                                method: :delete%>
                    <%= link_to "View" %>
                  </td>
                </tr>
            <% end %>
        <% end%>
        </tbody>
      </table>

      <h2>
        Examinees
        <small><%= link_to 'add' %></small>
      </h2>

      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Score</th>
          <th>Operations</th>
        </tr>
        </thead>

        <tbody>

        </tbody>
      </table>

    </div>
  </div>
</div>
